<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

  <!-- Enable ASP.NET Core layout renderers -->
  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
  </extensions>

  <!-- Define log targets -->
  <targets>
    <!-- File Target - All logs -->
    <target xsi:type="File" 
            name="allfile" 
            fileName="logs/all-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
			deleteOldFileOnStartup="true"
            archiveEvery="Srartup"
            archiveNumbering="Sequence"
            maxArchiveFiles="10" />

    <!-- File Target - Error and above -->
    <target xsi:type="File" 
            name="errorfile" 
            fileName="logs/error-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            archiveEvery="Day"
            archiveNumbering="Date"
            maxArchiveFiles="30" />

    <!-- Console Target for debugging --><!--
    <target xsi:type="Console" 
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message} ${exception:format=tostring}" />-->

    <!-- Debug Output Window Target -->
    <target xsi:type="Debugger" 
            name="debugger"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}" />
  </targets>

  <!-- Define logging rules -->
  <rules>
    <!-- Skip Microsoft and System logs below Warning level -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.*" maxlevel="Info" final="true" />
    <logger name="RotoGLBridge.Plugins.*" maxlevel="Info" final="true" /> 
    <!-- All logs to file -->
    <logger name="*" minlevel="Debug" writeTo="allfile" />
    
    <!-- Errors to separate file -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />
    
    <!-- Console output for Debug and above -->
    <logger name="*" minlevel="Debug" writeTo="console" />
    
    <!-- Debug window output -->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>
